{
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "external-helpers"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-0"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
