{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015",
        "stage-0"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
