{
  "root": true,
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": "off"
  }
}
